<div class="container">
  <p>Todo Projesi</p>
  <hr>
  <div *ngIf="!isUpdateFormctive">
    <div class="formGrup">
      <label for="work">Yapılacak İş</label>
      <input  type="text"[class]="changeInputClass()"id="work"name="work"[(ngModel)]="work">
      <div class="invalid-feedback">En az 3 karakter girmelisiniz.</div>
    </div>
   
    <div class="formGroup  mt-2">
      <button  [disabled]="work.length<3"
      class= "btn btn-outline-primary w-100"(click)="save()">Kaydet</button>
    </div>
  </div>
  <div *ngIf="isUpdateFormctive">
    <div class="formGrup">
      <input  type="text"class="form-control"id="work"name="work"[(ngModel)]="updateWork">
    </div>
    <div class="formGroup  mt-2">
      <button class="btn btn-outline-warning  w-100"(click)="update()">Güncelle</button>
    </div>
  </div>
  <hr>
  <ul>
    <li class="mt-1" *ngFor="let w of works let i=index">
      {{w}}
      <div *ngIf="!isUpdateFormctive">
        <button class="btn btn-outline-warning btn-sm"(click)="get(w,i)">Güncelle</button>
        <button class="btn btn-outline-danger btn-sm"(click)="remove(i)">Sil</button>
      </div>
     
    </li>
  </ul>
</div>